/*メニュ－テーブル------------------------------*/
nav {
    width: 200px;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -200px;
    transition: all 0.7s;
    z-index: 10;
}

body.menu-opened nav {
    right: 0;
    transition: ease-in 0.4s;
}
nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav li {
    font-weight: 600;
    color: #808080;
    width: 100%;
    height: 40px;
    margin: 10px;
    background-color: white;
    border-radius: 30px 0 0 30px;
    background: #ebecf0;
    box-shadow: 5px 5px 5px #c8c9cc, -1px -1px 1px #ffffff;
    transition: all 0.7s;
    border: 1px solid white;
    letter-spacing: 0.1rem;
}
nav li:hover {
    background: rgb(214, 215, 219);
    box-shadow: 3px 3px 3px #cccdd3, -2px -2px 2px #ffffff;
    transition: ease 0.3s;
}
nav li:active {
    box-shadow: 1px 1px 1px #c8c9cc, -3px -3px 3px #ffffff;
    opacity: 0.6;
}
nav a {
    height: 40px;
    line-height: 40px;
    display: block;
}
nav i {
    font-size: 1.5rem;
    vertical-align: middle;
}
.close-times {
    background-color: initial;
    box-shadow: initial;
    border: initial;
    font-size: 3rem;
    font-weight: 100;
    cursor: pointer;
    text-align: left;
    color: ivory;
    text-shadow: 1px 1px 0 rgba(10, 9, 9, 0.26),
        -1px -1px 0 rgba(10, 9, 9, 0.26), -1px 1px 0 rgba(10, 9, 9, 0.26),
        1px -1px 0 rgba(10, 9, 9, 0.26), 0px 1px 0 rgba(10, 9, 9, 0.26),
        0 -1px 0 rgba(10, 9, 9, 0.26), -1px 0 0 rgba(10, 9, 9, 0.26),
        1px 0 0 rgba(10, 9, 9, 0.26);
}
.close-times:hover,
.close-times:active {
    background-color: initial;
    box-shadow: initial;
    border: initial;
}
.icon {
    display: flex;
    justify-content: center;
}
.icon i {
    margin-right: 10px;
}
